body {
  width:100%;
  margin:0;
  display:flex;
  justify-content:center;
  background-image: linear-gradient(to right, #48b0ff, #4bbfff, #5dcdfd, #76dafa, #91e6f8, #91e6f8, #91e6f8, #91e6f8, #76dafa, #5dcdfd, #4bbfff, #48b0ff);
}